// colors
$gray-800: #2d3748;
$gray-600: #718096;
$gray-400: #cbd5e0;

$color-primary: #5a67d8;

// fosis
$font-size-large: 24px;
$font-size-x-large: 30px;

// spacings

$spacing-xx-large: 84px;
$spacing-x-large: 64px;
$spacing-large: 48px;
$spacing-medium: 20px;

// Breakpoints

$bp-x-large: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 640px;

.bg-primary-gradient {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.bg-monochrome-gradient {
  background-image: linear-gradient(white 0%, #f7fafc 100%);
}

// font sizes
h1 {
  font-size: 46px;
  line-height: 60px;
}

h2 {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: $spacing-medium;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.sub-heading {
  font-size: $font-size-large;
  line-height: 36px;
  margin-bottom: $spacing-medium;
}

p {
  margin-bottom: $spacing-medium;
  font-size: 16px;
  line-height: 24px;
}

// HR

div.fancy-hr {
  width: 100%;
  margin-bottom: $spacing-medium;
  div {
    height: 4px;
    opacity: 0.3;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

// cards

.box-shadow {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

// buttons

.btn {
  text-decoration: none;
  padding: 18px 34px;
  width: fit-content;
  font-size: 16px;
  border-radius: 9999px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-wrapper {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  color: $gray-800;
  background-color: white;
  border: 1px solid white;
  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  color: white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

// SMOOF SCHKROLL
html {
  scroll-behavior: smooth;
}
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

// container
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*
flex-container
*/
.flex-container {
  @media (min-width: $bp-medium) {
    display: flex;
  }
}

.flex-container-large {
  @media (min-width: $bp-large) {
    display: flex;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

// Header

header {
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  .logo-wrapper {
    line-height: 36px;
    margin-bottom: 8px;
    margin-top: 8px;
    @media (min-width: $bp-large) {
      font-size: 36px;
      line-height: 54px;
    }
  }
  border-bottom: 2px solid rgba(white, 0.3);
}

/*
HERO SECTION
*/

section.hero {
  padding-top: $spacing-xx-large;
  text-align: center;
  color: white;
  @media (min-width: $bp-medium) {
    text-align: left;
  }

  .flex-item:nth-child(1) {
    @media (min-width: $bp-medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .btn-wrapper {
    @media (min-width: $bp-large) {
      justify-content: flex-start;
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: $spacing-medium;
  }
  p:nth-child(3) {
    margin-bottom: 48px;
  }

  .img-wrapper {
    width: 100%;
    margin-bottom: 18px;
    img {
      width: 100%;
      height: auto;
      @media (min-width: $bp-large) {
        width: 80%;
      }
    }
  }
}

/*
SWITCH BG
*/

.switch-bg {
  position: relative;
  margin-top: -48px;
  margin-bottom: -4px;
}

/*
MAIN SECTIONS
*/
section.form-n-info {
  background-color: white;
  color: $gray-800;
  padding-top: $spacing-xx-large;
  form {
    padding: 32px;
    margin-bottom: 50px;

    .input {
      transition: border 0.2s ease-in-out;
      min-width: 280px;
      padding-top: $spacing-medium;
      padding-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 6px;
      border: 1px solid $gray-400;
      line-height: 24px;
      margin-bottom: 16px;
      @media (min-width: $bp-medium) {
        width: 100%;
      }
    }

    .input:focus + .label,
    .input:active + .label,
    .input.filled + .label {
      font-size: 0.75rem;
      transition: all 0.2s ease-out;
      top: -0.1rem;
      color: #667eea;
    }

    div.input-wrapper {
      position: relative;
    }

    .label {
      transition: all 0.2s ease-out;
      position: absolute;

      top: 6px;
      left: 0;
      margin-top: -8px;
      padding-top: 16px;
      padding-left: 12px;
      font-size: 16px;
      color: $gray-400;
    }

    .btn {
      margin-top: $spacing-medium;
      margin-bottom: $spacing-medium;
    }
  }

  div.details {
    text-align: center;
    padding: 24px;

    @media (min-width: $bp-medium) {
      padding: $spacing-large;
    }
  }
}

section.social-media {
  color: white;
  text-align: center;

  margin-bottom: $spacing-large;

  .flex-container {
    align-items: center;
  }

  div.img-wrapper {
    width: 100%;
    padding: 24px 64px;

    img {
      background-color: white;
      padding: 10px;
      border-radius: 50%;
      max-width: 100%;
      height: auto;
    }

    @media (min-width: $bp-medium) {
      padding: 24px;
      img {
        padding: 5px;
      }
    }

    @media (min-width: $bp-large) {
      img {
        width: 80%;
      }
    }
  }

  p.social-media-quote {
    font-size: $font-size-x-large;
    line-height: 45px;
  }
  p.name {
    font-size: 20px;
    margin-bottom: 2px;
    color: rgba(white, 0.8);
  }

  div.fancy-hr {
    display: inline-block;
    margin-bottom: $spacing-medium;
    div {
      background-color: white;
      max-width: 100px;
    }
  }
}

section.benefits,
section.features {
  background-color: white;
  padding-top: $spacing-xx-large;
  color: $gray-800;

  // flexbox

  .flex-container {
    justify-content: space-between;
  }

  .flex-item {
    flex-basis: 44%;
  }

  .benefit-wrapper {
    padding: $spacing-medium;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px;
  }
  div.fancy-hr {
    margin-bottom: $spacing-medium;
  }

  h3 {
    margin-bottom: $spacing-medium;
  }

  p {
    color: $gray-600;
    margin-bottom: $spacing-x-large;
  }

  .img-wrapper {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-large;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  // feature stuff

  .feature-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
    padding: $spacing-medium;
    margin: $spacing-medium;

    div.icon-wrapper {
      i {
        color: $color-primary;
      }
      margin-bottom: $spacing-medium;
    }
    h3 {
      font-size: $font-size-large;
      margin-bottom: 8px;
    }
    p {
      color: $gray-800;
    }
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-large;
  }
}
section.features {
  display: grid;
}

/*
FOOTER
*/

footer {
  background-color: white;
  padding: $spacing-medium !important;
  padding-bottom: $spacing-large !important;

  .flex-container {
    justify-content: space-between;
  }

  .logo-wrapper {
    color: $color-primary;
    font-size: $font-size-large;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $gray-800;
    margin-right: 10px;
    @media (min-width: $bp-medium) {
      display: block;
      margin-bottom: $spacing-medium;
    }
  }

  .headline {
    color: $gray-600;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 16px;

    @media (min-width: $bp-medium) {
      margin-top: 0;
    }
  }
}
