// colors
$gray-800: #2d3748;
$gray-600: #718096;
$gray-400: #cbd5e0;

$color-primary: rgb(0, 55, 100);
$color-secondary: #c10029;

// fosis
$font-size-large: 24px;
$font-size-x-large: 30px;

// spacings

$spacing-xx-large: 84px;
$spacing-x-large: 64px;
$spacing-large: 48px;
$spacing-medium: 20px;
$spacing-small: 10px;

// Breakpoints

$bp-x-large: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 640px;

.bg-primary-gradient {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.bg-monochrome-gradient {
  background-image: linear-gradient(white 0%, #f7fafc 100%);
}

// font sizes
h1 {
  font-size: 46px;
  line-height: 60px;
  font-weight: normal;
}

h2 {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: $spacing-medium;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: $spacing-medium;
  font-size: 16px;
  line-height: 24px;
}

.text-highlighted {
  color: $color-secondary;
}

// cards

.box-shadow {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

// buttons

.btn {
  text-decoration: none;
  padding: 18px 34px;
  width: fit-content;
  font-size: 16px;
  border-radius: 9999px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-wrapper {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  color: $gray-800;
  background-color: white;
  border: 1px solid white;
  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  color: white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
}

// FONTS
@font-face {
  font-family: NettoOT;
  src: url("FontFont-NettoOT.otf");
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NettoOT", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: $color-primary;
}

// container
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*
flex-container
*/
.flex-container {
  @media (min-width: $bp-medium) {
    display: flex;
  }
}

.flex-container-large {
  @media (min-width: $bp-large) {
    display: flex;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

// Header

header {
  text-align: center;
  align-items: center;

  .logo-wrapper {
    padding: $spacing-small;
    display: inline-block;
    max-width: 60%;
    img {
      width: 100%;
      height: auto;
    }
  }

  nav {
    margin-top: $spacing-medium;
    margin-left: auto;

    a {
      padding: $spacing-small;
      color: $color-primary;
      text-decoration: none;
      transition: opacity 240ms ease-in-out;
      font-size: 20px;
      @media (min-width: $bp-small) {
        font-size: 24px;
      }
    }
    a:hover {
      opacity: 0.8;
    }
    span {
      font-weight: 800;
    }
  }
}

/*
MAIN SECTIONS
*/

section.hero-headline {
  text-align: center;
  margin-bottom: $spacing-large;
  h1 {
    margin-bottom: $spacing-small;
  }

  p.sub-headline {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  p:nth-child(3) {
    font-size: 20px;
  }
}

section.cards {
  .flex-container {
    justify-content: space-around;
  }

  background-image: linear-gradient(
    180deg,
    white 0%,
    white 45%,
    #e4e4e4 45%,
    #e4e4e4 75%,
    white 75%
  );

  .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: $spacing-large;
    a {
      text-decoration: none;
    }

    .img-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: $spacing-medium;

      img {
        width: 100%;
        height: auto;

        transition: all 340ms ease-in-out;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}

/*
FOOTER
*/

footer {
  background-color: white;
  padding: $spacing-medium !important;
  padding-bottom: $spacing-large !important;

  .flex-container {
    justify-content: space-between;
  }

  .logo-wrapper {
    color: $color-primary;
    font-size: $font-size-large;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $gray-800;
    margin-right: 10px;
    @media (min-width: $bp-medium) {
      display: block;
      margin-bottom: $spacing-medium;
    }
  }

  .headline {
    color: $gray-600;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 16px;

    @media (min-width: $bp-medium) {
      margin-top: 0;
    }
  }
}
