// colors
$gray-800: #2d3748;
$gray-600: #718096;
$gray-400: #cbd5e0;

$color-primary: rgb(0, 55, 100);
$color-secondary: #c10029;

// fosis
$font-size-large: 24px;
$font-size-x-large: 30px;

// spacings

$spacing-xx-large: 84px;
$spacing-x-large: 64px;
$spacing-large: 48px;
$spacing-medium: 20px;
$spacing-small: 10px;

// Breakpoints

$bp-x-large: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 640px;

.bg-primary-gradient {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.bg-monochrome-gradient {
  background-image: linear-gradient(white 0%, #f7fafc 100%);
}

// font sizes
h1 {
  font-size: 46px;
  line-height: 60px;
  font-weight: normal;
}

h2 {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: $spacing-medium;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: $spacing-medium;
  font-size: 16px;
  line-height: 24px;
}

.text-highlighted {
  color: $color-secondary;
}

// cards

.box-shadow {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

// buttons

.btn {
  text-decoration: none;
  padding: 18px 34px;
  width: fit-content;
  font-size: 16px;
  border-radius: 9999px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-wrapper {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  color: $gray-800;
  background-color: white;
  border: 1px solid white;
  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  color: white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
}

// FONTS
@font-face {
  font-family: NettoOT;
  src: url("FontFont-NettoOT.otf");
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NettoOT", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: $color-primary;
}

// container
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*
flex-container
*/
.flex-container {
  @media (min-width: $bp-medium) {
    display: flex;
  }
}

.flex-container-large {
  @media (min-width: $bp-large) {
    display: flex;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

// Header

header {
  text-align: center;
  align-items: center;

  .logo-wrapper {
    padding: $spacing-small;
    display: inline-block;
    max-width: 60%;
    img {
      width: 100%;
      height: auto;
    }
  }

  nav {
    margin-top: $spacing-medium;
    margin-left: auto;

    a {
      padding: $spacing-small;
      color: $color-primary;
      text-decoration: none;
      transition: opacity 240ms ease-in-out;
      font-size: 20px;
      @media (min-width: $bp-small) {
        font-size: 24px;
      }
    }
    a:hover {
      opacity: 0.8;
    }
    span {
      font-weight: 800;
    }
  }
}

/*
MAIN SECTIONS
*/

section.hero-headline {
  text-align: center;
  margin-bottom: $spacing-large;
  h1 {
    margin-bottom: $spacing-small;
  }

  p.sub-headline {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  p:nth-child(3) {
    font-size: 20px;
  }
}

section.cards {
  .flex-container {
    margin-bottom: $spacing-large;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    @media (min-width: $bp-medium) {
      flex-direction: row;
    }
  }

  @media (min-width: $bp-medium) {
    background-image: linear-gradient(
      180deg,
      white 0%,
      white 45%,
      #e4e4e4 45%,
      #e4e4e4 75%,
      white 75%
    );
  }

  .card {
    max-width: 320px;
    @media (min-width: $bp-medium) {
      max-width: unset;
    }

    @media (min-width: $bp-x-large) {
      margin-left: $spacing-small;
      margin-right: $spacing-small;
    }

    text-align: center;
    flex-wrap: wrap;
    margin-bottom: $spacing-large;

    a {
      text-decoration: none;
    }

    .img-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: $spacing-medium;
      position: relative;
      img {
        width: 100%;
        height: auto;
        transition: all 340ms ease-in-out;
        background: transparent;

        @media (min-width: $bp-medium) {
          &:hover {
            transform: scale(1.02);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
          }
        }
      }
    }
  }

  .card:nth-child(1) {
    .info-text-bottom {
      text-align: left;
      position: absolute;
      bottom: 25%;
      left: 40px;
      right: 40px;
    }
  }
  .card:nth-child(2) {
    .info-text-top {
      text-align: left;
      position: absolute;
      top: 6%;
      left: 36px;
      right: 36px;
    }
    .info-text-bottom {
      text-align: center;
      position: absolute;
      font-size: 16px;
      bottom: 6%;
      left: 36px;
      right: 36px;
    }
  }

  .card:nth-child(3) {
    .info-text-bottom {
      position: absolute;
      bottom: -22%;
      left: 40px;
      right: 40px;
      text-align: left;
    }
  }

  @media (min-width: $bp-medium) {
    .card:nth-child(1) {
      img {
        border-radius: 16px;
      }
      .info-text-bottom {
        bottom: 24%;
        font-size: 13px;
        left: 30px;
        right: 30px;
        line-height: normal;
      }
    }
    .card:nth-child(2) {
      img {
        border-radius: 22px;
      }
      .info-text-top {
        top: 10%;
        font-size: 13px;
        line-height: normal;
      }
    }
    .card:nth-child(3) {
      img {
        border-radius: 22px;
      }
      .info-text-bottom {
        bottom: -40%;
        left: 20px;
        right: 20px;
      }
    }
  }

  @media (min-width: $bp-large) {
    .card:nth-child(1) {
      img {
        border-radius: 24px;
      }
      .info-text-bottom {
        bottom: 25%;
        font-size: initial;
        left: 40px;
        right: 40px;
        line-height: 24px;
      }
    }
    .card:nth-child(2) {
      img {
        border-radius: 30px;
      }
      .info-text-top {
        bottom: 15%;
        font-size: initial;
        left: 40px;
        right: 40px;
        line-height: 24px;
      }
      .info-text-bottom {
        font-size: 24px;
        line-height: 30px;
      }
    }
    .card:nth-child(3) {
      img {
        border-radius: 30px;
      }
      .info-text-bottom {
        bottom: -24%;
        left: 24px;
        right: 24px;
      }
    }
  }

  @media (min-width: $bp-x-large) {
    .card:nth-child(1) {
      img {
        border-radius: 26px;
      }
      .info-text-bottom {
        font-size: 20px;
        line-height: 30px;
        bottom: 25%;
      }
    }
    .card:nth-child(2) {
      img {
        border-radius: 40px;
      }
      .info-text-top {
        font-size: 20px;
        line-height: 30px;
        top: 10%;
      }
      .info-text-bottom {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .card:nth-child(3) {
      img {
        border-radius: 40px;
      }
      .info-text-bottom {
        bottom: -16%;
        left: 24px;
        font-size: 18px;
        line-height: 24px;
        right: 24px;
      }
    }
  }
}

section.info-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: $spacing-large;
  .img-wrapper {
    max-width: 240px;
    margin-top: $spacing-large;
    margin-bottom: $spacing-medium;
    img {
      padding-right: $spacing-medium;
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: $bp-medium) {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    article {
      flex-basis: 66%;
      column-count: 2;
    }
    .img-wrapper {
      flex-basis: 33%;
      margin-top: 0;
      max-width: unset;
    }
  }
}

/*
FOOTER
*/

footer {
  background-color: white;
  padding: $spacing-medium !important;
  padding-bottom: $spacing-large !important;

  .flex-container {
    justify-content: space-between;
  }

  .logo-wrapper {
    color: $color-primary;
    font-size: $font-size-large;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $gray-800;
    margin-right: 10px;
    @media (min-width: $bp-medium) {
      display: block;
      margin-bottom: $spacing-medium;
    }
  }

  .headline {
    color: $gray-600;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 16px;

    @media (min-width: $bp-medium) {
      margin-top: 0;
    }
  }
}
